.icon {
    /* position: relative !important; */
    position: absolute !important;
    left: 450px !important;
    bottom: 12px;
    color: white !important;
}

.cart {
    width: 300px;
    height: 400px;
    background-color: red;
}

.quantity {
    margin-left: -30px;
    display: flex;
    justify-content: space-evenly;
}

.cart-container {
    padding: 20px;
}
.cart-container-total {
    padding-left: 20px;
}
.icon1 {
    background-color: bisque;
}

.modal-image {
    position: absolute;
    left: 200px;
    bottom: 5 0px;
    /* width: 100px;
    height: 100px; */
}
.close-icon {
    position: absolute;
    left: 280px;
    color: red;
    cursor: pointer;
}